#root, html, body {
    height: 100vh;
}

h1 {
    color: black;
}

.superman {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/15/94/285823f61c7ed73.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.lol {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    padding: 7% 15%;
    text-align: center;
    color: black;
    
}

.lol2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}